html, body {margin: 0; height: 100%; overflow: hidden}



button{
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 4vh;
    width: 100%;
    height: 100%;
    border: 0px solid black;
    padding: 0;
    position:static;
    align-items:center;
    display: block;
    box-sizing: border-box
}   

table.board {
    left: calc((100vw - calc(100vh + 100vh/9*3)) / 2);
    cursor:text;
    table-layout: fixed;
    width: calc(100vh + 100vh/9*3);
    border-collapse: collapse;
    border: 1vh solid black;
    position:relative;
}

button:hover{
    background-color: lightgray;
    cursor: pointer;
}

table.note{
    z-index: 1;
    position:relative;
    margin-top: calc(calc(-100vh/9) + calc(100vh/135));
    height: calc(calc(100vh/9) - calc(100vh/135));
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-collapse: collapse;
    text-align:center
}
td.note{
    cursor:text;
    width: 3.5vh;
    text-align: center;
    font-size: 2vh;
    padding: 0;
    height: calc(calc(calc(100vh/9) - calc(100vh/135))/3);
}
table.selected{
    cursor:text;
    background-color: lightgray;
    height: calc(calc(calc(100vh/9) - calc(100vh/135))/3);
    padding: 0;
}

tr
{
 overflow:hidden;
}

td.board{
    border: 0.5vh solid black;
    text-align: center;

}
td{
    height: calc(calc(100vh/9) - calc(100vh/135));
    display:table-cell;
    column-fill:auto;
    padding: 0 ;
}

input{
    position:  relative;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    font-weight: 700;
    all:unset;
    border: 0;
    width: 95%;
    height: 100%;
    font-family: inherit;
    font-size: 8vh;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
    text-align: center;
    

}


::selection { background: transparent;color:inherit; }

.board .board input[type=text]{
    position:relative;
   }
   


table.board tr.board:not(:last-child):nth-of-type(3n) td.board {
    border-bottom: 1vh solid black;
}

table.board tr.board td.board:not(:last-child):nth-of-type(3n) {
    border-right: 1vh solid black;
}


#loading{
    z-index: 200;
    position: absolute;
    top: 50%;
    left: calc(50% - 17.5vh);
    transform: translate(-50%, -50%);    
  }