html, body {margin: 0; height: 100%; overflow: hidden}


table {
    table-layout: fixed;
    width: 33vw;
    border-collapse: collapse;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

tr
{
 overflow:hidden;
}

td{
    border: 0.2vw solid black;
    text-align: center;
}

input{
    all:unset;
    border: 0;
    width: 90%;
    height: 90%;
    font-family: inherit;
    font-size: 3vw;
    text-align: center;
}
input{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
table tr:not(:last-child):nth-of-type(3n) td {
    border-bottom: 0.4vw solid black;
}

table tr td:not(:last-child):nth-of-type(3n) {
    border-right: 0.4vw solid black;
}
